#navdiv{
    background-color:#0f1111;
    height: 60px;
    color:white;
    

}

*{
margin:0 ;
padding:0;
text-decoration: none;;
}

#logo{
color:#f08804;
padding-top: 20px;
font-size: 30px;
}

button{
    background-color: #f08804;
    color:aliceblue;
    width: 70px;
}

a{
    margin-right: 230px;
}