* {
    margin : 0;
    padding : 0;
    font-family: Arial, Helvetica, sans-serif;
}

#uppernav{
    height:60px;
    background-color: #131A22;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

#heading{
    font-weight: 100;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    word-spacing: 20px;;
}

#rock{
    background-image:url("rock.jpg");
    height: 60px;
    background-size: cover;
    width: 200px;
    height: 200px;
}

#paper{
    background-image:url("paper.jpg");
    height: 60px;
    background-size: cover;
    width: 200px;
    height: 200px;
}


#scissor{
    background-image:url("scissors.jpg");
    height: 60px;
    background-size: cover;
    width: 200px;
    height: 200px;
}

#logos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    
}



.choice:hover{
    opacity: 50%;
    border-radius: 50%;
    border:5px solid black;
    
}

#versus{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 90px;
    font-size: 30px;
    
}

.sc{
    font-size: 40px;
    text-align: center;
}

#state{
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px auto 0;;
    background-color: black;
    color: aliceblue;
    border-radius: 20%;
    width : 450px;
    height: 100px;
    text-align: center;

}

#state:hover{
    opacity: 50%;
    border:5px solid rgb(94, 183, 180);
}